<div id="<%= dom_id(move) %>" class="flex justify-between gap-2">
  <div>
    <%= move.x %>
  </div>
  <div>
    <%= move.y %>
  </div>
  <div>
    <span class="font-semibold"><%= move.distance_away%></span>
  </div>
  <div>
    <span class="font-semibold"><%= move.winner %></span>
  </div>
</div>