<!DOCTYPE html>
<html>
  <head>
    <title>TreasureHunt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="px-4 pt-4 mx-auto prose">
    <div class="flex flex-col gap-4">
      <section class="pt-8">
        <div class="flex justify-between">
          <% if user_signed_in? %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "devise-submit" %>
          <% end %>
          <%= button_to "Score Board", "/games", method: :get, class: "devise-submit" %>
        </div>
      </section>
      <main class="mt-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
